[include]
    path = ~/.gitconfig.local

[core]
    editor = nvim
    autocrlf = input
    fsmonitor = true
    untrackedcache = true

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = current

[fetch]
    writeCommitGraph = true

[diff]
    colorMoved = default
[maintenance]
	repo = /Volumes/Develop/asuene-career
