# Local settings (contain secrets)
*.local
!**/.local/

# macOS
.DS_Store

# iTerm2
*.itermcolors
iterm2/.config/iterm2/AppSupport
iterm2/.config/iterm2/sockets

# Neovim
nvim/plugin/
nvim/lazy-lock.json
